**/node_modules
**/vendor
**/.git
**/.env
**/dist
**/storage/logs/*
**/storage/framework/cache/*
**/storage/framework/sessions/*
**/storage/framework/views/*
**/.phpunit.result.cache
**/database/database.sqlite
